:root {
  color-scheme: only light;
}
:root {
  --lightBlue: #f0f5ff;
  --blue: #5c92ff;
  --green: #09c768;
  --text: #363e64;
  --yellow: #ffbc6f;
  --blueGradient: linear-gradient(335deg, #6498ff 0%, #9cbdff 100%);
  --cardsBorderRadius: 27px;
  --gap: 20px;
  --animation-duration: 0.6s;
}
html,
body {
  zoom: 1;
  background-color: var(--lightBlue);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  font-weight: 300;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
img {
  fill: white;
}
i {
  font-size: 22px;
  font-weight: 400;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageMain {
  /* position: fixed; */
  background-color: #f0f5ff;
  width: 100%;
  height: 100%;
  display: flex;
}
.main {
  position: relative;
  width: 80%;
  height: 100%;
  color: var(--text);
  padding: 50px;
  padding-top: 38px;
  box-sizing: border-box;
}
.sideMain {
  padding: 40px;
  background-color: white;
  width: fit-content;
  display: block;
  height: 100%;
}
.mainTempBox {
  opacity: 0;
  position: relative;
  width: 430px;
  padding-top: 15px;
  padding-bottom: 30px;
  height: fit-content;
  background: linear-gradient(335deg, #6498ff 0%, #9cbdff 100%);
  border-radius: var(--cardsBorderRadius);
  overflow-x: hidden;
  transition: transform 0.1s ease-in-out;
  animation-fill-mode: forwards;
  animation-name: fadeAndSlideleft;
  animation-duration: var(--animation-duration);
}
.recents {
  padding-top: 15px;
  transition: transform 0.2s ease-in-out;
}
.mainTempBox {
  color: white;
  margin-bottom: 30px;
}
.mainTempBox:hover {
  transform: scale(1.01);
  padding-top: 15px;
}
.recent1 {
  animation-delay: 100ms;
  background: linear-gradient(335deg, #ff649d 0%, #fc9bc0 100%);
}
.recent1:hover {
  transform: scale(1.02);
}
.recent2 {
  animation-delay: 200ms;
  background: linear-gradient(335deg, #ffae52 0%, #ffc480 100%);
}
.recentFlexBox {
  height: 100px;
  margin-bottom: -8px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
}
.recentBoxSide {
  display: grid;
  margin-top: -10px;
}
.recentTempMain {
  margin-top: -17px !important;
  font-size: 42px !important;
  text-align: left !important;
}
.tempMainRecent.recentTempMain {
  font-weight: 700;
}
.topMainBox {
  /* padding-top: 20px; */
  padding-left: 35px;
  padding-bottom: 0px;
  display: flex;
}
.circle {
  position: absolute;
  background-color: #fff97a;
  border-radius: 75px;
}
.c1 {
  right: -6px;
  top: -6px;
  width: 70px;
  height: 70px;
}
.c2 {
  right: -19px;
  top: -18px;
  width: 100px;
  height: 100px;
  opacity: 0.3;
  background-color: white;
}
.c3 {
  right: -27px;
  top: -26px;
  width: 120px;
  height: 120px;
  opacity: 0.1;
  background-color: white;
}
.c1 {
  width: 70px;
  height: 70px;
}
.topMainFlexBox {
  gap: 4px;
  display: flex;
  align-items: center;
}
.topMainFlexBox p {
  font-weight: 400;
}
.topMainFlexBox i:nth-child(3) {
  font-size: medium;
  padding-top: 2px;
}
.center {
  width: 100%;
  display: grid;
  justify-content: center;
}
.mainImg {
  margin-top: -20px;
  height: 160px;
  justify-self: center;
}
.shadowPill {
  box-shadow: 1px 1px 20px 0px #78a5ff4a;
}
.shadow900 {
  filter: drop-shadow(4px 15px 15px #6598ff);
}
.shadow100 {
  filter: drop-shadow(0px 5px 3px #6598ff3b);
}
.shadow100OnBlue {
  filter: drop-shadow(0px 5px 3px #6598ff);
}
.shadow200 {
  filter: drop-shadow(0px 0px 30px #6598ff0e);
}
.shadow300blue {
  filter: drop-shadow(0px 0px 8px #6598ff6f);
}
.shadow300red {
  filter: drop-shadow(0px 0px 8px #ff649d6f);
}
.shadow300yellow {
  filter: drop-shadow(0px 0px 8px #ffae526f);
}
.dateMain {
  /* opacity: 0.8; */
  text-align: center;
}

.tempMain {
  margin: 0;
  margin-top: -20px;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
}
.dayTypeMain {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
.mainDetailElement {
  display: flex;
  justify-content: center;
  place-content: flex-start;
}
.mainDetailElement .flexCenter {
  width: 80px;
}
.mainDetailElementBottom {
  margin-top: -26px;
}
.mainDetailElement p {
  padding-left: 15px;
  padding-right: 15px;
}

/*  Main Page style */

.dateTime {
  display: flex;
  justify-content: space-between;
}
.dateTime i {
  font-size: 42px;
}
.dateOnly {
}
.time {
  font-size: 50px;
  font-weight: 600;
  color: var(--blue);
  margin: 0;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fadeAndSlidedown;
  animation-delay: 150ms;
  animation-duration: var(--animation-duration);
}
.day {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 50ms;
  animation-name: fadeAndSlidedown;
  animation-duration: var(--animation-duration);
}
.greeting {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 32px;
  font-weight: 400;
  color: var(--blue);
  /* margin-top: -10px; */
  margin-bottom: -5px;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 0;
  animation-name: fadeAndSlidedown;
  animation-duration: var(--animation-duration);
}
.greeting i {
  font-weight: 400;
}

.searchBox {
  height: fit-content;
  align-items: center;
  display: flex;
  border-radius: 14px;
  transition: all 0.2s ease-in-out;
  background: white;
  padding-right: 0px;
  padding-left: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fadeAndSlidedown;
  animation-delay: 50ms;
  animation-duration: var(--animation-duration);
}
.searchBox i {
  font-size: 22px;
}
.searchBox input {
  min-width: 250px;
  padding: 15px;
  padding-left: 12px;
  padding-right: 0;
  border: none;
  font-weight: 500;
  color: var(--text);
  font-size: 16px;
  outline: none;
  border-radius: 14px;
  z-index: 2;
}
.searchBox:focus-within {
  outline: 3px solid var(--blue);
  /* border: 3px solid var(--blue); */
  transform: scale(1.02);
}
.searchBox:focus-within + .overlay {
  z-index: 1;
}

/* suggestions */
.citySuggestions {
  display: none;
  position: absolute;
  margin-top: 70px;
  height: fit-content;
  width: 260px;
  background-color: white;
  z-index: 12;
  border-radius: 14px;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 10px;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fadeAndSlideupSmall;
  animation-delay: 0ms;
  animation-duration: 0.3s;
}
.citySuggestions .qCityBox {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  align-items: center;
  border-radius: 15px;
  padding-top: 2px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}
.qCityBox:hover {
  cursor: pointer;
  color: white;
  background: var(--blue);
}
.qCityBox i {
  font-size: 25px;
  align-items: center;
  margin-top: -8px;
}
.citySuggestions .qCityData {
  padding-top: 10px;
  padding-bottom: 15px;
}
.qCityName {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
.qCityDetails {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
}
.qLoading {
  width: 100%;
  text-align: center;
}
.noResults {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 11px;
  opacity: 0.7;
}

/* switch */
.tempUnitsliderBox {
  width: 100%;
  display: flex;
  justify-content: end;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fadeAndSlidedown;
  animation-delay: 0ms;
  animation-duration: var(--animation-duration);
}
.tempUnitSwitch {
  margin-top: 14px;
  display: flex;
  align-items: center;
  width: 120px;
  justify-content: space-around;
}
.tempUnitSwitch p {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.6;
}
.tempSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* border-radius: 12px; */
}
.tempSwitch span::before,
.tempSwitch span {
  border-radius: 32px;
}
.tempSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.tempUnitslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: 0.4s;
}
.tempUnitslider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--blue);
  transition: 0.4s;
}

.tempSwitch input:checked + .tempUnitslider {
  background: var(--blueGradient);
}
.tempSwitch input:checked + .tempUnitslider:before {
  transform: translateX(26px);
  background-color: white;
}

/* cards */
.daysForecast {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.daysForecast .card {
  width: 140px;
  display: grid;
  padding-left: 0;
  width: -webkit-fill-available;
  animation-fill-mode: forwards;
  animation-name: fadeAndSlideup;
  animation-duration: var(--animation-duration);
}
.daysForecast .card:hover {
  background: linear-gradient(335deg, #6498ff 0%, #9cbdff 100%);
  color: white;
}
.card {
  background-color: white;
  padding-right: 0;
  border-radius: var(--cardsBorderRadius);
  padding-top: 38px;
  padding-bottom: 27px;
  justify-items: center;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: transform 0.1s ease-in-out;
  /* margin: 10px; */
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 30px #6598ff1f;
}

.card img {
  height: 60px;
  padding-bottom: 20px;
}
.card p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  padding-top: 5px;
}
.card h3 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 6px;
}

.widgetFlex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.leftSideWidgets {
  width: 49%;
}

/* air quality index */
.airQualityIndex {
  opacity: 0;

  animation-fill-mode: forwards;
  animation-name: fadeAndSlideup;
  animation-delay: 100ms;
  animation-duration: var(--animation-duration);
}
.airQualityIndex .card {
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: left;
  padding-bottom: 30px;
}

.airQualityIndex .card:hover {
  background: white;
}
.AQImain {
  display: flex;
  align-items: center;
  gap: 15px;
}
.AQImain i {
  color: var(--green);
  font-size: 36px;
}
.AQImain .AQImainHead p:first-child {
  color: var(--green);
  font-size: 20px;
}
.AQImain .AQImainHead p:last-child {
  font-size: 14px;
  opacity: 0.4;
}
.AQIcards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  color: var(--green);
  text-align: center;
}
.AQIcards div {
  border-radius: 10px;
  background-color: rgba(10, 216, 92, 0.07);
  padding: 18px;
  padding-top: 10px;
}
.AQIcards div p:first-child {
  font-weight: 600;
  font-size: 18px;
}
.AQIcards div p:last-child {
  font-weight: 400;
  font-size: 15px;
}

/* Probabilities */
.probabilities {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fadeAndSlideup;
  animation-delay: 250ms;
  animation-duration: var(--animation-duration);
}
.probabilities div div {
  text-align: -webkit-center;
}
.probabilities .probabilityPillBox {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 95%;
}
.probabilities .card {
  width: 100%;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: left;
  padding-bottom: 30px;
}
.probabilities .card .probabilityText {
  font-size: 15px;
  opacity: 0.4;
  width: 70%;
  margin-top: -15px;
  margin-left: 6px;
}

.probabilities .card div div div {
  position: relative;
  align-items: center;
  width: 40px;
  height: 80px;
  justify-content: space-around;
  background-color: var(--lightBlue);
  background: linear-gradient(335deg, #6498ff 0%, #9cbdff 100%);
  border-radius: 35px;
  padding: 14px;
  color: white;
  padding-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 15px;
  text-align: center;
}
.probabilities .card div div div i {
  margin-top: 8px;
  font-size: 30px;
  color: white;
}
.probabilities .card div div div p {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 500;

  text-align: center;
}

/* sunrise and sunset */

.sunRiseSet {
  box-sizing: border-box;
  width: 49%;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fadeAndSlideup;
  animation-delay: 150ms;
  animation-duration: var(--animation-duration);
}
.sunRiseSet .card {
  width: 100%;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: left;
  padding-bottom: 30px;
}
.sunriseH3Flex {
  display: flex;
  justify-content: space-between;
}
.sunRiseSet .topMainFlexBox p {
  margin-right: 30px;
  margin-top: -4px;
}
.sunRiseSet .topMainFlexBox {
  opacity: 0.7;
  justify-content: center;
  align-items: center;
}

.sunRiseSet .yellowCard {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 188, 111, 0.19);
  border-radius: 20px;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 7px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.sunRiseSet .yellowCard i {
  font-size: 52px;
  color: #ffbc6f;
  justify-content: space-around;
  /* width: 100%; */
}
.sunRiseSet .yellowCard .sunRiseBox {
  justify-content: center;
  display: flex;
  width: 49%;
}
.sunRiseSet .yellowCard .sunTextBox {
  width: fit-content;
  margin-left: 15px;
}
.sunRiseSet .yellowCard .sunTime {
  font-size: 20px;
  color: var(--blue);
}
.sunRiseSet .yellowCard .sunText {
  font-size: 16px;
  opacity: 0.4;
}

.sunRiseSet .sunH3 {
  margin-bottom: 25px;
  opacity: 0.7;
  font-size: 14px;
}
.sunRiseSet .timeTempBox {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
  width: 95%;
}
.sunRiseSet .timeTempBox .flexCenter:first-child {
  width: 30%;
  justify-content: center;
}
.sunRiseSet .timeTempBox .flexCenter i {
  color: var(--blue);
}
.sunRiseSet .timeTempBox .flexCenter .ti-clock-hour-4 {
  color: var(--yellow);
}
.sunRiseSet .timeTempBox .flexCenter i {
  padding-right: 6px;
}
.sunRiseSet .timeTempBox .flexCenter p {
  opacity: 0.8;
  margin-top: -5px;
}

/* responsive css */

@media screen and (max-width: 800px) {
  .pageMain {
    display: grid;
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .main {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 00px;
    padding-bottom: 20px;
    width: 100%;
  }
  .dateTime {
    display: grid;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .time {
    font-size: 43px;
  }
  .day {
    font-size: 13px;
  }
  .greeting {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .greeting i {
    font-size: 25px;
  }
  .searchBox {
    width: 95%;
  }
  .daysForecast {
    display: none;
    opacity: 0;
  }

  .sideMain {
    padding: 0;
    width: 100%;
    background: none;
    justify-self: center;
    color: white;
    height: fit-content;
    text-align: -webkit-center;
  }
  .mainTempBox {
    opacity: 0;
    width: 90%;
    overflow-x: inherit;
    justify-self: center;
    margin-bottom: 25px;
    margin-top: 40px;
  }
  .mainImg {
    height: 200px;
    margin-top: -80px;
    margin-bottom: -30px;
  }
  .recents {
    display: none;
  }

  .circles,
  .topMainBox,
  .dayTypeMain,
  .mainDetailElement {
    display: none;
  }

  .tempUnitsliderBox {
    display: none;
  }
  .mainWidgets {
    width: 100%;
  }
  .widgetFlex {
    display: block;
    width: 100%;
    place-items: center;
    justify-content: center;
  }
  .leftSideWidgets {
    width: 90%;
    margin: auto;
  }

  .sunRiseSet {
    width: 90%;
    margin: auto;
  }
  .sunRiseSet .card {
    padding-bottom: 15px;
  }
  .sunRiseSet .topMainFlexBox {
    margin-top: -10px;
  }
  .sunRiseSet .topMainFlexBox p {
    margin-right: 0px;
  }

  .sunRiseSet .yellowCard i {
    align-self: center;
    font-size: 30px;
  }

  .sunRiseSet .yellowCard {
    height: 80px;
    margin-bottom: 25px;
  }
  .sunRiseSet .yellowCard .sunText {
    font-size: 14px;
    opacity: 0.4;
  }
  .sunRiseSet .yellowCard .sunTextBox {
    margin-left: 6px;
  }
  .sunRiseSet .yellowCard .sunTime {
    font-size: 16px;
  }
  .sunRiseSet .timeTempBox .flexCenter p {
    font-size: 14px;
  }
  .sunRiseSet .timeTempBox {
    justify-content: space-between;
    width: 100%;
  }
  .sunRiseSet .timeTempBox .flexCenter:first-child {
    width: 40%;
    justify-content: start;
  }
  .airQualityIndex .card {
    width: 100%;
  }
  .AQIcards div {
    padding: 10px;
  }
  .AQIcards > div:first-child {
    display: none;
  }
  .AQIcards div p:first-child {
    font-size: 13px;
  }
  .AQIcards div p:last-child {
    font-size: 12px;
  }
  .probabilityPillBox {
    width: 100%;
  }
  .probabilityPillBox .shadowPill:nth-child(4) {
    display: none;
    width: 100%;
  }
  .probabilities .card div div div {
    width: 30px;
    height: 60px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
  }
  .probabilities .card div div div i {
    font-size: 20px;
  }
  .probabilities .card div div div p {
    font-size: 14px;
  }
}
